/*  ========================================================================
    # Custom - List of Links as Cards
    ========================================================================  */

.list-of-links-as-cards {
  .cm-line.HyperMD-list-line:has(.cm-hmd-internal-link) {
    text-indent: 0 !important;
    padding-inline-start: 0 !important;
    padding-top: 12px;
  }

  ul:has(.internal-link) {
    padding: 0;

    li:not(:first-child) {
      margin: 12px 0 0;
    }
  }

  .cm-line.HyperMD-list-line:has(.cm-hmd-internal-link) .cm-formatting-list:has(.list-bullet),
  ul:has(.internal-link) .list-bullet {
    display: none;
  }

  .cm-line.HyperMD-list-line:has(.cm-hmd-internal-link) .cm-hmd-internal-link span:not(.is-unresolved),
  ul:has(.internal-link) a {
    display: inline-block;
    width: 95%;
    padding: 10px 20px !important;
    border-radius: 12px;
    box-shadow: 0 0 0 1px #e5e5e5;
    text-decoration: none;
  }

  .cm-line.HyperMD-list-line:has(.cm-hmd-internal-link) .cm-hmd-internal-link span:not(.is-unresolved):hover,
  ul:has(li):has(.internal-link) a:hover {
    background-color: #fafafa;
    text-decoration: none;
  }
}
